/*Main settings*/
html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*Nav-Toolbar*/
.toolbar ul {
  display: flex;
  list-style: none;
  height: 80px;
  width: 383px;
  background: #3c3a39;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.logo-name {
  position: static;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
}

.menu-button {
  font-size: 30px;
  height: 70px;
  width: 70px;
  background-color: #3c3a39;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-button:hover,
.menu-button:visited {
  font-size: 30px;
  height: 70px;
  width: 70px;
  background-color: #3c3a39;
  color: rgb(116, 116, 116);
  border: none;
}

/*Headline section*/
.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  background: #1c1a19;
  width: 375px;
  height: 498px;
  position: absolute;
  left: 0;
  top: 80px;
}

.introduction-name {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  width: 327px;
  height: 124px;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 1px;
  color: #ff6b00;
  margin: 12px 0;
}

.introduction-title {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.introduction-description {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  flex: none;
  margin-top: 12px;
  margin-bottom: 14px;
}

.bottom-nav ul {
  display: flex;
  list-style: none;
  background: #1c1a19;
  width: 360px;
  justify-content: space-between;
}

.social-icons {
  font-size: 25px;
  color: white;
}

.social-icons:hover,
.social-icons:visited {
  font-size: 30px;
  color: rgba(131, 130, 130, 0.9);
}

.background-img {
  margin-top: -70px;
  height: 300px;
  width: auto;
}

/*Work section*/
.work-section {
  display: grid;
  grid-template-columns: 327px;
  justify-content: center;
  row-gap: 27px;
  position: absolute;
  left: 0;
  top: 818px;
  width: 425px;
  background: #e5e5e5;
  height: auto;
}

#my-work-box {
  margin: 60px 0 24px 0;
}

.my-works {
  position: static;
  width: 327px;
  left: 0px;
  top: 0px;
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-align: center;
}

.work-section hr {
  border: 1px solid #212121;
}

.multi-story-heading {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 12px 0;
}

.story-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 12px 0;
}

.programming-languages {
  display: flex;
  list-style: none;
  align-content: flex-start;
  justify-content: space-between;
  width: auto;
  padding-left: 0;
}

.programming-boxes {
  align-items: center;
  padding: 10px 12px;
  background: #e5e5e5;
  border: 1px solid #8993a4;
  margin: 12px 0;
}

.programming-boxes:hover,
.programming-boxes:active {
  border: 1px solid #144395;
  background: white;
}

.programming-boxes a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.see-project-button {
  padding: 12px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin: 12px 0;
}

.see-project-button:hover,
.see-project-button:active {
  color: rgba(255, 255, 255, 0.335);
}

#art-page {
}

.top-art-page {
  background-image: url(img/Mask\ Group.png);
  height: 327px;
  width: auto;
  display: grid;
  grid-template-columns: 295px;
  justify-content: center;
}

.art-heading {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  margin: 85px 0 0 0;
}

.art-paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.languages {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-right: 50px;
  height: 60px;
  text-align: center;
}

.second-programming {
  padding-top: 0;
  list-style: none;
  padding-top: 6px;
  background: rgba(255, 255, 255, 0.24);
}

.long-button {
  padding: 12px 120px 12px 120px;
}

.long-button:hover,
.long-button:active {
  color: rgba(255, 255, 255, 0.335);
}

.last-art-page {
  margin-bottom: 100px;
}
