/* Main settings */
html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Nav-Toolbar */
.toolbar ul {
  display: flex;
  list-style: none;
  height: 80px;
  width: 383px;
  background: #3c3a39;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.logo-name {
  position: static;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
}

.menu-button {
  font-size: 30px;
  height: 70px;
  width: 70px;
  background-color: #3c3a39;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-button:hover,
.menu-button:visited {
  font-size: 30px;
  height: 70px;
  width: 70px;
  background-color: #3c3a39;
  color: rgb(116, 116, 116);
  border: none;
}

/* Headline section */
.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  background: #1c1a19;
  width: 375px;
  height: 498px;
  position: absolute;
  left: 0;
  top: 80px;
}

.introduction-name {
  font-family: "Crete Round", serif;
  font-style: normal;
  width: 327px;
  height: 124px;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 1px;
  color: #ff6b00;
  margin: 12px 0;
}

.introduction-title {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.introduction-description {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  flex: none;
  margin-top: 12px;
  margin-bottom: 14px;
}

.bottom-nav ul {
  display: flex;
  list-style: none;
  background: #1c1a19;
  width: 360px;
  justify-content: space-between;
}

.social-icons {
  font-size: 25px;
  color: white;
}

.social-icons:hover,
.social-icons:visited {
  font-size: 30px;
  color: rgba(131, 130, 130, 0.9);
}

.background-img {
  margin-top: -70px;
  height: 300px;
  width: auto;
}

/* Work section */
.work-section {
  display: grid;
  grid-template-columns: 327px;
  justify-content: center;
  row-gap: 27px;
  position: absolute;
  left: 0;
  top: 818px;
  width: 425px;
  background: white;
  height: auto;
}

#my-work-box {
  margin: 60px 0 24px 0;
}

.my-works {
  position: static;
  width: 327px;
  left: 0;
  top: 0;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  text-align: center;
}

.work-section hr {
  border: 1px solid #212121;
}

.multi-story-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 12px 0;
}

.story-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin: 12px 0;
}

.programming-languages {
  display: flex;
  list-style: none;
  align-content: flex-start;
  justify-content: space-between;
  width: auto;
  padding-left: 0;
}

.programming-boxes {
  align-items: center;
  padding: 10px 12px;
  background: #e5e5e5;
  border: 1px solid #8993a4;
  margin: 12px 0;
}

.programming-boxes:hover,
.programming-boxes:active {
  border: 1px solid #144395;
  background: white;
}

.programming-boxes a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.see-project-button {
  padding: 12px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: none;
  margin: 12px 0;
}

.see-project-button:hover,
.see-project-button:active {
  color: rgba(255, 255, 255, 0.335);
}

.top-art-page {
  background-image: url(img/Mask\ Group.png);
  height: 327px;
  width: auto;
  display: grid;
  grid-template-columns: 295px;
  justify-content: center;
}

.art-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: white;
  margin: 85px 0 0 0;
}

.art-paragraph {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin: 0;
  margin-bottom: -10px;
}

.languages {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-right: 50px;
  margin-top: 0;
  height: 60px;
  text-align: center;
}

.second-programming {
  list-style: none;
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.24);
}

.second-programming a {
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.second-programming:hover,
.second-programming:active {
  background: rgba(172, 172, 172, 0.24);
}

.long-button {
  padding: 12px 113.3px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.long-button:hover,
.long-button:active {
  color: rgba(255, 255, 255, 0.335);
}

.last-art-page {
  margin-bottom: 125px;
}

/* About me section */
.about-me-section {
  display: grid;
  grid-template-columns: 327px;
  justify-content: center;
  position: absolute;
  width: 425px;
  top: 4000px;
  left: 0;
  background: #1c1a19;
}

.about-me-heading {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 120px 0 24px 0;
}

.about-me-paragraph {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: hsl(220, 16%, 96%);
  height: 87px;
}

.get-my-resume {
  background: #ff6b00;
  width: 161px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  height: 24px;
  padding: 12px 10px;
  margin-top: 66px;
}

.get-my-resume:hover,
.get-my-resume:active {
  color: #ff6b00;
  background: #ffd3b3;
}

.background-img2 {
  position: absolute;
  width: 157px;
  top: 4435px;
  left: 268px;
  z-index: 999;
}

.about-me-section hr {
  border: 1px solid white;
  width: 327px;
  margin-top: 221px;
}

.skills-headings {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: white;
  margin: 97px 0 0 0;
  list-style: none;
  text-align: center;
}

.skills-headings-second {
  margin: 0;
}

.list-items {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: white;
  list-style: none;
  margin-top: 10px;
}

.about-me-section ul {
  padding-left: 0;
}

.rectangular-middle {
  margin-right: 10px;
  margin-bottom: 3px;
}

.rectangular {
  margin-top: 76px;
}

.footer {
  position: absolute;
  top: 6000px;
  left: 0;
  width: 375px;
  max-height: 930px;
  height: auto;
  padding: 100px 24px 0 24px;
  background-color: #ffff;
  text-align: center;
}

.footer .footer-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 36.5px;
  color: #172b4d;
  text-align: center;
}
